---
http_interactions:
- request:
    method: post
    uri: https://api.ebay.com/ws/api.dll
    body:
      encoding: US-ASCII
      string: ! "\n          <?xml version=\"1.0\" encoding=\"utf-8\"?>\n          <GetSessionIDRequest
        xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n            <RuName>runame</RuName>\n
        \         </GetSessionIDRequest>\n    "
    headers:
      x-ebay-api-call-name:
      - GetSessionID
      x-ebay-api-compatibility-level:
      - '675'
      x-ebay-api-dev-name:
      - devid
      x-ebay-api-app-name:
      - appid
      x-ebay-api-cert-name:
      - certid
      x-ebay-api-siteid:
      - siteid
      content-type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
      x-ebay-api-pool-name:
      - ___cDRidW90amJobm1saHNv
      x-ebay-api-server-name:
      - ___dWtgMWQ3MmYrM2A0ZygyNSg+Nys3MzsrNTI5PTY/Mg==
      x-ebay-esb-app-name:
      - appid
      x-ebay-esb-call-name:
      - GetSessionID
      x-ebay-esb-guid:
      - urn:uuid:FCAF20798D43F99AC91358655620822
      x-ebay-esb-siteid:
      - siteid
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <GetSessionIDResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2012-12-29T19:41:25.878Z</Timestamp><Ack>Failure</Ack><Errors><ShortMessage>Invalid
        value for header &quot;X-EBAY-API-SITEID&quot;.</ShortMessage><LongMessage>Header
        &quot;X-EBAY-API-SITEID&quot; with value &quot;siteid&quot; is out of range.</LongMessage><ErrorCode>10012</ErrorCode><SeverityCode>Error</SeverityCode><ErrorParameters
        ParamID="0"><Value>X-EBAY-API-SITEID</Value></ErrorParameters><ErrorParameters
        ParamID="1"><Value>siteid</Value></ErrorParameters><ErrorClassification>RequestError</ErrorClassification></Errors><Version>801</Version><Build>E801_INTL_BUNDLED_15589440_R1</Build></GetSessionIDResponse>'
  recorded_at: Sat, 29 Dec 2012 19:41:26 GMT
recorded_with: VCR 2.3.0
