--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: post
    uri: https://api.ebay.com/ws/api.dll
    body: 
      string: "          <?xml version=\"1.0\" encoding=\"utf-8\"?>\n          <GetSessionIDRequest xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n            <RuName>fak_fak_fakeeee-eeeeeeee-eeee-e-eeeee</RuName>\n          </GetSessionIDRequest>\n"
    headers: 
      x-ebay-api-call-name: 
      - GetSessionID
      content-type: 
      - text/xml
      x-ebay-api-app-name: 
      - a219dda1-87b5-11e1-b0c4-0800200c9a66
      x-ebay-api-dev-name: 
      - bdc8a861-87b5-11e1-b0c4-0800200c9a66
      x-ebay-api-cert-name: 
      - cf9340f3-87b5-11e1-b0c4-0800200c9a66
      x-ebay-api-siteid: 
      - "0"
      x-ebay-api-compatibility-level: 
      - "675"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      x-ebay-api-pool-name: 
      - 11212345690123456722222
      x-ebay-esb-siteid: 
      - "0"
      content-type: 
      - text/xml
      x-ebay-esb-guid: 
      - fak:uuid:Fakefakefakefakefakefakefakefak
      x-ebay-esb-app-name: 
      - fakefake-fake-fake-fake-fakefakefake
      x-ebay-esb-call-name: 
      - GetSessionID
      x-ebay-api-server-name: 
      - ____ffffffffffffffffffffffffffffffffffffffffffff
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <GetSessionIDResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2012-04-16T11:13:25.255Z</Timestamp><Ack>Success</Ack><Version>767</Version><Build>E767_CORE_BUNDLED_14671989_R1</Build><SessionID>fake</SessionID></GetSessionIDResponse>
  recorded_at: Mon, 16 Apr 2012 11:12:57 GMT
